@import "fonts";
@import "reset";
@import "style_general";
// @import "index/index_768+";

body {
  position: relative;
}

.graphic-container {border: 2px solid maroon;
  position             : relative;
  width                : 100%;
  width                : 800px;
  height               : 500px;
  margin               : 50px auto 0;
  display              : flex;
  flex-direction       : column;
}

.graphic {border: 2px solid dodgerblue;
  width                : 100%;
  order                : 2;
  flex-grow            : 1;

  &__btns-wrapper {
    display            : flex;
    justify-content    : flex-start;
    align-items        : center;
    flex-wrap          : wrap;
    order              : 1;
  }
  &__list {
    margin-right       : 6px;
    margin-bottom      : 6px;
    height             : 30px;
    display            : flex;
    justify-content    : flex-start;
    align-items        : center;
  }
  &__btn {
    background-color   : #cacaca;
    font               : 16px gost;
    text-align         : center;
    height             : 30px;
    width              : 30px;
    padding            : 5px;
    color              : #555555;
    cursor             : pointer;
    transition         : color .3s, background-color .3s;
    margin-right       : 1px;
    img {
      width            : 20px;
      height           : 20px;
    }
    &:hover {
      color            : white;
      background-color : #888;
    }
    &_active {
      color            : white;
      background-color : #555555;
    }
  }
  &__time-btn {
    width              : 50px;
    white-space        : nowrap;
    padding            : 7px 0 0 0;
  }
}